<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="{{ BASE_PATH }}/simple_gray_css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ BASE_PATH }}/simple_gray_css/main.css">

		<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
		<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    </head>
    <body>

		<div id="container">

			<div class="left">
				<h4>{{ site.name }}</h4>
				<img id="about" src="{{ BASE_PATH }}/imgs/avatar.jpg" height="75px" width="75px" /><br />	

				<strong>navigation</strong><br />
				<a href="/">home</a> <br />
				{% for i in site.urls %}
					<a class="about" href="{{ i.url }}">{{ i.text }}</a><br />
				{% endfor %}
				
				{% if site.about %}
				<div id="about">
					<strong>about</strong><br />
					{{ site.about }}
				</div>
				{% endif %}
			</div>

			<div class="right">
				
				{{ content }}
				
				<footer>
					&copy; {{ site.name }}
				</footer>
			</div>
		
		</div>

    </body>
</html>
